/*
Red Color Scheme: #bf1e30



*/


* {
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    margin: auto;
    background-color: white;
}

/* POSTS */
#posts {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
    justify-content: space-around;
}
.post {
    background-color: black;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.post:hover {
    outline: solid 3px #fb8749;
}
.post_text {
    margin-left: 10px;
    color: white;
}
/* End Of POSTS */


.float_right {
    position: absolute;
    right: 0px;
    margin-top: 15px;
    margin-right: 15px;
}
.icon {
    position: relative;
    float: right;
    height: 32px;
    width: 32px;
    margin-left: 10px;
}
.hide_on_resize {
    display: none;
}

#logo {
    display: flex;
    float: left;
    height: 100px;
    width: 100px;
    border: none;
}

header {
    position: relative;
    display: inline-flex;
    width: 100%;
    background-color: black;
}
.container {
    position:absolute;
    margin-top: 20px;
    width: 100%;
}
.nav_margin_left {
    margin-left: 100px;
}
.nav_margin_left_no_logo {
    margin-left: 10px;
}
nav {
    float: left;
    display: inline-flex;
}
.Subtitle {
    color:darkslategray;
    float: left;
}

button {
    background-color: darkslategrey; /* Green #4CAF50 */
    border: solid 1px;
    color: black;
    padding: 20px 48px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    transition-duration: 0.4s;
    background-color: darkred; /* Green */
    color: white;
}